<div class="flex items-center justify-center h-screen">
  <div class="w-full max-w-md p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center mb-6">
      Iniciar Sesion
    </h2>

      <form>
        <div class="mb-4 ">
          <label for="email" class="block font-medium mb-2">
            Usuario
          </label>
          <input type="text" id="email" name="email" class="input input-bordered input-md w-full max-w-xs" placeholder="Usuario" required>
        </div>
        <div class="mb-6">
          <label for="password" class="block font-medium mb-2">
            Contraseña
          </label>
          <input type="password" id="password" name="password" class="input input-bordered input-md w-full max-w-xs " placeholder="Contraseña" required>
        </div>

        <a class="flex justify-center mb-4 link link-hover">
          No tengo una cuenta
        </a>
        <div class="flex justify-center">
          <button class="btn btn-outline">
            Ingresar
          </button>
        </div>
      </form>
  </div>
</div>
